POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
POSTGRES_HOST=db
DB_NAME=foodgram
POSTGRES_PORT=5432
DATABASE=postgres
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SECRET_KEY='secret_code'
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=backend.settings